<%- include('partials/header'); -%>
<div class="container">
    <div class="jumbotron">
        <div>Room Id : <%=discussion.roomId%></div>
        <div> Scheduled time : <%=moment(discussion.scheduledTime).format('MMMM Do YYYY, h:mm:ss a')%></div><br><br>
        <h3>Allowed students</h3><br>
        <% discussion.students.forEach(function(studentemail){%>
           <%=studentemail%>
           <%students.forEach(function(student){%>
                <%if(student.email===studentemail){%>
                    <div><%=student.name%></div>
                <%}%>
           <%})%>
        <%})%>
        <br><br>
        
        <p>Allow student to participate from below</p>
        <form action="/teacher/dashboard/discussion/<%=discussion.roomId%>" method="POST">
            <%students.forEach(function(student){%>
                <%if(discussion.students.indexOf(student.email)===-1){%>
                    <input type="checkbox" style="opacity:1;pointer-events:auto;position: relative;"  value="<%=student.email%>" name=main>
                    <div>
                        <%=student.name%>
                    </div>
                    <div>
                        <%=student.email%>
                    </div>
                <%}%>
            <%})%>
            <input type="submit">
        </form>
    </div>
</div>

<div class="container">
<h2>Chatbox</h2> 
    <div>
        <div id="sidebar" class="chat__sidebar">

        </div>

        <div>
            <div id="messages"> </div>
             <%texts.forEach((per)=>{%>
                <div>
                    <%=per.username%><%=moment(per.createdAt).format('D-M-YYYY h:mm a')%>
                    <br/>
                    <%=per.message%>
                </div>
              <%})%>
            <div>
                <form id="message-form">
                    <input type="hidden" id="roomId" value="<%=discussion.roomId%>" name="roomId" type="text">
                    <input type="hidden" id="username" value="<%=currentUser.name%>" name="username" type="text">

                    <input name="message" id="ip" type="text" placeholder="Message" required autocomplete="off">
                    <button id="but">Send</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
<script id="message-template" type="text/html">
    <div>
        {{username}}  {{createdAt}}
        <br/>
        {{message}}
    </div>
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>

<script>
    const socket=io();
    const $messageForm=document.querySelector("#message-form");
    const $messageFormInput = $messageForm.querySelector('#ip');
    const $messageFormButton = $messageForm.querySelector('#but');
    const $messages=document.querySelector('#messages');

    const x= Qs.parse(location.search,{ignoreQueryPrefix:true});
    const useremail=x.user;
    const room=x.room;
    console.log(useremail);console.log(room);
    const messageTemplate=document.querySelector('#message-template').innerHTML;

    socket.emit('join',{useremail,room},(error)=>{
        if(error){
            alert(error);
            location.href="/teacher/dashboard";
        }
    });

    socket.on('message',(msg)=>{
        const html = Mustache.render(messageTemplate,{
            message:msg.message,
            username:msg.username,
            roomId : msg.roomId,
            createdAt:moment(msg.createdAt).format('D-M-YYYY h:mm a')
        });
        $messages.insertAdjacentHTML('beforeend',html);
    });

    $messageForm.addEventListener('submit',(e)=>{
       e.preventDefault();
       const message = e.target.elements.message.value;
       const roomId = e.target.elements.roomId.value;
       const username = e.target.elements.username.value;

     
       socket.emit('sendMessage',{
           message,
           roomId,
           username
       },(error)=>{
        $messageFormButton.removeAttribute('disabled');
        $messageFormInput.value="";
        $messageFormInput.focus();
        if(error){
            return console.log(error);
        }
        console.log("Message delivered");
    });
});

</script>
<%- include('partials/footer'); -%>
