<%- include('partials/side-nav'); -%>
<div class="side-nav-content">
  <div class="container">
    <div class="jumbotron">
      <h5>Room Id :</h5>
      <%=meeting.roomId%>
      <h5>Scheduled time :</h5>
      <div>
        <%=moment(meeting.scheduledTime).format('MMMM Do YYYY, h:mm:ss a')%>
      </div>
      <br /><br />
      <form
        action="/teacher/meeting/updatetiming/<%=meeting.roomId%>"
        method="POST"
      >
        <label>Edit Scheduled Time</label>
        <input
          type="datetime-local"
          value="<%=moment(meeting.scheduledTime).format('YYYY-MM-DD')%>T<%=moment(meeting.scheduledTime).format('hh:mm')%>"
          name="editscheduledtime"
        />
        <button>Change</button>
      </form>

      <br /><br />
      <p id="fuck" hidden><%=meeting.scheduledTime%></p>
      <p id="length" hidden><%=meeting.questions.length%></p>
      <h3>Allowed students</h3>
      <br />
      <% meeting.students.forEach(function(studentemail){%> <%=studentemail%>
      <%students.forEach(function(student){%>
      <%if(student.email===studentemail){%>
      <div><%=student.name%></div>
      <a
        href="/teacher/dashboard/delete/student/<%=meeting.roomId%>/<%=studentemail%>"
        >Romove Student</a
      ><br /><br />
      <%}%> <%})%> <%})%>
      <br /><br />

      <%if(meeting.students.length !== students.length){%>
      <p>Allow student to participate from below</p>
      <%}%>
      <form action="/teacher/dashboard/<%=meeting.roomId%>" method="POST">
        <%students.forEach(function(student){%>
        <%if(meeting.students.indexOf(student.email)===-1){%>
        <input
          type="checkbox"
          style="opacity: 1; pointer-events: auto; position: relative;"
          value="<%=student.email%>"
          name="main"
        />
        <div>
          <%=student.name%>
        </div>
        <div>
          <%=student.email%>
        </div>
        <%}%> <%})%> <%if(meeting.students.length !== students.length){%>
        <input type="submit" />
        <%}%>
      </form>
      <br /><br />
      <a
        href="/teacher/dashboard/meeting/sendmail/<%=meeting.roomId%>/<%=meeting.email%>"
        >Send Invitation mail to all</a
      >
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h5>Add Question here</h5>
      <form
        action="/teacher/dashboard/question/<%=meeting.roomId%>"
        method="POST"
      >
        <label>
          Question:
          <input
            type="text"
            placeholder="Enter Question here"
            name="question"
            required
          /> </label
        ><br />
        <label>
          Option 1:
          <input
            type="text"
            placeholder="Option 1"
            name="option1"
            required
          /> </label
        ><br />
        <label>
          Option 2:
          <input
            type="text"
            placeholder="Option 2"
            name="option2"
            required
          /> </label
        ><br />
        <label>
          Option 3:
          <input
            type="text"
            placeholder="Option 3"
            name="option3"
            required
          /> </label
        ><br />
        <label>
          Option 4:
          <input
            type="text"
            placeholder="Option 4"
            name="option4"
            required
          /> </label
        ><br />
        <label>
          Answer
          <input type="text" placeholder="Answer" name="answer" /> </label
        ><br />
        <input type="submit" value="Done" />
      </form>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h5>Questions that will be given in test</h5>
      <%questions.forEach((ques)=>{%>
      <div>
        <div>Question: <%=ques.question%><br /></div>
        <div>Option 1: <%=ques.option1%> <br /></div>
        <div>Option 2: <%=ques.option2%> <br /></div>
        <div>Option 3: <%=ques.option3%> <br /></div>
        <div>Option 4: <%=ques.option4%><br /></div>
        <div>Answer: <%=ques.answer%><br /></div>
        <a
          href="/teacher/dashboard/question/delete/<%=ques.question%>/<%=meeting.roomId%>"
          >Delete</a
        >
      </div>
      <br />
      <%})%>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h2>LeaderBoard</h2>
      <div id="leaderboard"></div>
    </div>
  </div>
</div>
<script>
  const leaderBoard = document.getElementById('leaderboard');
  const length = document.getElementById('length');

  if (
    new Date().getTime() >=
    new Date(document.querySelector('#fuck').textContent).getTime() +
      Number(length.textContent) * 120000 +
      300000
  ) {
    fetch(`/teacher/dashboard/leaderboard/<%=meeting.roomId%>`).then(
      (response) => {
        response.json().then((data) => {
          leaderBoard.textContent =
            'Yaha pe leaderboard hoga jab test over ho jayega';
          console.log('Moin leaderboard ui banayega');
          console.log(data);
        });
      }
    );
  } else {
    leaderBoard.textContent = 'LeaderBoard will be generated after Test overs';
    console.log('Moin leaderboard ui banayega');
  }
      if (window.location.pathname === `/teacher/dashboard/meeting/`+'<%= meeting.roomId %>') {
        document.getElementById('dshbrd').href = `../`;
      } else document.getElementById('dshbrd').href = `#`;
</script>

<%- include('partials/footer'); -%>
