<%- include('partials/side-nav'); -%>

<div class="side-nav-content p-3">
    <div id='dd' class="scheduled mb-3" style="justify-content: space-between;"><p></p><p></p></div>

<div class="container">
    <div class="jumbotron">
        Welcome <%=currentUser.name%> 
        <p id="email" hidden><%=currentUser.email%></p>
        <h5 >Organized by <%=discussion.admin%></h5>
        <h5>Room Id:-</h5>
        <p id="room"><%=discussion.roomId%></p>
        <h5>Scheduled Time:</h5><%=moment(discussion.scheduledTime).format('MMMM Do YYYY, h:mm:ss a')%>
        <a href="/student/dashboard/discussion/enter/classroom?room=<%=discussion.roomId%>&email=<%=currentUser.email%>"><h6>Enter Classroom</h6></a>

        <%errors.forEach((err)=>{%>
            <%=err%>
        <%})%>
    </div>
</div>
<div class="container">
    <h4>Important Resources</h4>
    <% if(discussion.files.length!==0){ %>
        <% discussion.files.forEach(function(file) { %>
          <div class="card card-body mb-3">
            <h5><%= file.filename %></h5>
            <%if( file.contentType === 'image/jpeg' || file.contentType === 'image/png'){%>
                <img src="/teacher/dashboard/getfile/file/<%= file.filename %>" style="height:200px;width:40%;"alt="">
            <%}else if(file.contentType === "application/pdf" || file.contentType === "application/pdf"){%>
                <img src="" style="height:200px;width:40%;"alt="Any pdf logo">                
            <%}%>
            <a href="/teacher/dashboard/getfile/file/<%= file.filename %>" download><button class="btn"><i class="fa fa-download"></i> Download</button></a>
          </div>
          <% }) %>
            <% } else { %>
              <p>No files to show</p>
              <% } %>
</div>
<div class="container">
    <h4>Important Points and Notes</h4> 
        <div>
            <div id="sidebar" class="chat__sidebar">
    
            </div>
    
            <div>
                <div id="messages"> 
                    <%texts.forEach((per)=>{%>
                      <div>
                          <%=per.username%><%=moment(per.createdAt).format('D-M-YYYY h:mm a')%>
                          <br/>
                          <%=per.message%>
                      </div>
                    <%})%>
                </div>
    
                <div>
                    <form id="message-form">
                        <input type="hidden" id="roomId" value="<%=discussion.roomId%>" name="roomId" type="text">
                        <input type="hidden" id="username" value="<%=currentUser.name%>" name="username" type="text">

                        <input name="message" id="ip" type="text" placeholder="Message" required autocomplete="off">
                        <button id="but">Send</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
<script id="message-template" type="text/html">
    <div>
        {{username}}  {{createdAt}}
        <br/>
        {{message}}
    </div>
</script>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>

<script>
    function showTime() {
    var i = 0;
    document.querySelectorAll('#dd p').forEach((d) => {
      if (i === 0) {
        d.textContent = 'Date: ' + moment(Date.now()).format('Do-MM-YYYY');
        i = 1;
      } else {
        d.textContent = 'Time: ' + moment(Date.now()).format('hh.mm.ss a');
        i = 0;
      }
    });
  }
  setInterval(showTime, 1);

    const socket=io();
    const $messageForm=document.querySelector("#message-form");
    const $messageFormInput = $messageForm.querySelector('#ip');
    const $messageFormButton = $messageForm.querySelector('#but');
    const $messages=document.querySelector('#messages');
    const x= Qs.parse(location.search,{ignoreQueryPrefix:true});
    const useremail=x.user;
    const room=x.room;
    console.log(useremail);
    console.log(room);
    const messageTemplate=document.querySelector('#message-template').innerHTML;

    socket.emit('join',{useremail,room},(error)=>{
        if(error){
            alert(error);
            location.href="/student/dashboard";
        }
    });

    socket.on('message',(msg)=>{
        const html = Mustache.render(messageTemplate,{
            message:msg.message,
            username:msg.username,
            roomId : msg.roomId,
            createdAt:moment(msg.createdAt).format('D-M-YYYY h:mm a')
        });
        $messages.insertAdjacentHTML('beforeend',html);
    });

    $messageForm.addEventListener('submit',(e)=>{
       e.preventDefault();
       const message = e.target.elements.message.value;
       const roomId = e.target.elements.roomId.value;
       const username = e.target.elements.username.value;

       socket.emit('sendMessage',{
           message,
           roomId,
           username
       },(error)=>{
            $messageFormButton.removeAttribute('disabled');
            $messageFormInput.value="";
            $messageFormInput.focus();
            if(error){
                return console.log(error);
            }
            console.log("Message delivered");
        });
});
  
</script>

<script>
    const email = document.getElementById("email");
    const rm = document.getElementById("room");
    if (window.performance) {
        
        }
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        console.log("ch");
        location.href="http://localhost:3000/student/dashboard/discussion/enter?room="+rm.textContent+"&user="+email.textContent+"&v=1"
        } else {
    }
    var teacherNav = document.querySelectorAll('#student-nav');
  teacherNav.forEach((teacherNav) => {
    teacherNav.innerHTML = '';
    const navLinks = `<a id="dshbrd" href="http://localhost:3000/student/dashboard/" 
      ><i class="fas fa-desktop"></i><span>Dashboard</span></a
    >
    <a href="/student/profile/myprofile?email=<%=currentUser.email%>"><i class="fas fa-user"></i><span>My Profile</span></a>
    <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>`;
    teacherNav.innerHTML = navLinks;
  });
</script>



<%- include('partials/footer'); -%>
