<%- include('partials/side-nav'); -%>
<link rel="stylesheet" href="/leaderBoard.css">
<div class="side-nav-content p-3">
       <div id='dd' class="scheduled mb-3" style="justify-content: space-between;"><p></p><p></p></div>
  <div class="stud-row">
    <div class="row">
      <div class="col s12 m7">
        <div class="card" style="width: 70%;">
          <div class="card-title text-center p-3 blue-grey lighten-5">Test Room</div>
          <h4 class="text-center" >Organized by <%=meeting.admin%></h4>

          <div class="card-image p-3" style="height: 30vh; overflow: hidden;" >
            <img src="/images/test.svg" style="height: 100%;">
          </div>
          <form action="/student/dashboard/test/enter" method="GET">
            <input type="text" required hidden value="1" name="f" />
            <div class="card-content">
              <p id="fuck" hidden><%=meeting.scheduledTime%></p>
        <p id="length" hidden><%=meeting.questions.length%></p>
              <div class="scheduled">
                <div>
                  <h4>Test Time:</h4><%=moment(meeting.scheduledTime).format('Do-MM-YYYY, h:mm:ss a')%>
                </div>
              </div>
              <div class="text-center">
                <h4 id="count-down">Test Begins in</h4>
                <div id="count-down" class="scheduled white-text p-1 countDown">
                  <p id="days"></p>
                  <p id="hours"></p>
                  <p id="mins"></p>
                  <p id="secs"></p>
                </div>   
                  <h4 id="end"></h4>
                  <%errors.forEach((err)=>{%>
                    <p><%=err%></p>
                <%})%>
              </div>
          </div>
          <div class="card-action text-center">
            <a class="btn btn-primary darken-1" href="/student/dashboard/entertestroom/<%=meeting.roomId%>">Start Test</a>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="leader-back">
        <div class="leader-header">LeaderBoard</div>
        <div id="leaderboard"></div>
    </div>

</div>

</div>
<script>
    if (window.performance) {
       
    }
    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
    location.href="http://localhost:3000/student/dashboard/test/enter?room=<%= meeting.roomId %>&f=1"
    } else {
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<script>
   var teacherNav = document.querySelectorAll('#student-nav');
  teacherNav.forEach((teacherNav) => {
    teacherNav.innerHTML = '';
    const navLinks = `<a id="dshbrd" href="http://localhost:3000/student/dashboard/" 
      ><i class="fas fa-desktop"></i><span>Dashboard</span></a
    >
    <a href="/student/profile/myprofile?email=<%=currentUser.email%>"><i class="fas fa-user"></i><span>My Profile</span></a>
    <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>`;
    teacherNav.innerHTML = navLinks;
  });

    function showTime(){
      var i = 0;
    document.querySelectorAll("#dd p").forEach(d => {
      if( i === 0){
        d.textContent="Date: "+moment(Date.now()).format('Do-MM-YYYY');
        i = 1
      }
      else {d.textContent="Time: "+ moment(Date.now()).format('hh.mm.ss a');i=0;}
    });
    }
    setInterval(showTime,1);

    // The data/time we want to countdown to
    var countDownDate = new Date(document.querySelector("#fuck").textContent).getTime();

    // Run myfunc every second
    var myfunc = setInterval(function() {

    var now = new Date().getTime();
    var timeleft = countDownDate - now;
        
    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
        
    // Result is output to the specific element
    document.getElementById("days").innerHTML = days + "d :"
    document.getElementById("hours").innerHTML = hours + "h :" 
    document.getElementById("mins").innerHTML = minutes + "m :" 
    document.getElementById("secs").innerHTML = seconds + "s " 
        
    // Display the message when countdown is over
    if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("days").innerHTML = ""
        document.getElementById("hours").innerHTML = "" 
        document.getElementById("mins").innerHTML = ""
        document.getElementById("secs").innerHTML = ""
        document.getElementById("end").innerHTML = "Test started";
        document.querySelectorAll('#count-down').forEach(elem => {
          elem.style.display = 'none';
        })
    }
    }, 1000);
</script>

<script>
   const leaderBoard = document.getElementById("leaderboard");
   const length = document.getElementById("length");

   if((new Date()).getTime()>=new Date(document.querySelector("#fuck").textContent).getTime()+Number(length.textContent)*120000+300000 ){
      fetch(`/student/dashboard/leaderboard/<%=meeting.roomId%>`)
      .then((response) => {
        response.json().then((data) => {
          const leaderBoard = document.getElementById('leaderboard');

          var list = document.createElement("ol");
          for(let i=0; i<data.names.length;i++){
            item = document.createElement("li");
            item.className = "leader-li";
            item.innerHTML = `<div class="hname">${(i+1)}. ${data.names[i]} :</div><div class="list_num">${data.totalmarks[i]}</div>`;
            list.appendChild(item);
          }
          leaderBoard.appendChild(list);
          console.log(data);
        });
      }
    );
  } else {
    const leaderBoard = document.getElementById('leaderboard');
    let item = document.createElement("div");
    item.className = "hname text-center";
    item.textContent = 'LeaderBoard will be generated once the Test is Finished.';
    leaderBoard.appendChild(item);
  }
</script>

<%- include('partials/footer'); -%>
