<%- include('partials/header'); -%>

<div class="container">
    <div class="jumbotron">
        <h2>My Profile</h2>
        <%=currentUser.email%>
        <%=present%>
        <%=test%>
        <%totalpercentagepresentinclass%>
    </div>
</div>







<%- include('partials/footer'); -%>
