<%- include('partials/header'); -%>

<div class="container">
    <div class="jumbotron">
        <h3>Hello <%=currentUser.name%></h3>
    </div>
</div>


<%errors.forEach((err)=>{%>
    <p><%=err%></p>
<%})%>

<div class="container">
    <div class="jumbotron">
        <h5>Enter Room Id for Scheduled Test</h5>
        <div>
            <form action="/student/dashboard/test/enter" method="GET">
                <input type="text" required hidden value="1" name="f">
                <input type="text" required placeholder="Enter roomid to Join" name="room">
                <input type="submit">
            </form>
        </div>     
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h5>Enter Room Id for Scheduled Discussion</h5>
        <div>
            <form action="/student/dashboard/discussion/enter" method="GET">
                <input type="hidden" name="user" value="<%=currentUser.email%>">
                <input type="text" required placeholder="Enter roomid to Join" name="room">
                <input type="submit">
            </form>
        </div>     
    </div>
</div>

<script>
    if (window.performance) {
        
        }
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        location.href="http://localhost:3000/student/dashboard?f=1"
        } else {
    }
</script>



<%- include('partials/footer'); -%>
